div{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    font-size: 17px;
    color: #53391a;
    gap: 20px;
}

button{
    color: #53391a;
    padding: 3px 32px;
    
}