nav{
    background-color: #ababab;
    height: 150px;
}

ul{
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    display: flex;
}

li{
    list-style: none;
}

a{
    color: black;
    font-size: 19px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}