nav{
    background-color: #d5c0b0cf;
    height: 85px;
}

ul{
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
    display: flex;
}

li{
    list-style: none;
}

a{
    color: rgb(55, 36, 7);
    font-size: 19px;
    font-family:  Arial, Helvetica, sans-serif;
    text-decoration: none;
}