div{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    gap: 20px;
}

h1{
    font-size: 16px;
}

p{
    color: #53391a;
    font-size: 13px;
}

input{
    width: 180px;
    border: none;
    border-bottom: 2px solid rgb(181, 171, 147);
}